name: Perf StrREln

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flags: ["-q", "-q -lsb"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3
          dune-cache: true

      - name: Install Smtml depedencies
        working-directory: ./vendor/smtml
        run: opam install . --deps-only --with-test --with-dev-setup

      - name: Install depedencies
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Run Strln with 2 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-ln/benchmark_v2_"*.smt2; do
            echo $i;
            timeout 30s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done 2>&1 | tee res_ln2.txt;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 2 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

      - name: Run StrREln with 2 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v2_w02"*.smt2 "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v2_w03"*.smt2 "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v2_w04"*.smt2; do
            echo $i;
            timeout 60s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done 2>&1 | tee res_reln2.txt;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 2 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

      - name: Run StrREln with 3 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v3_w02"*.smt2; do
            echo $i;
            timeout 30s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done 2>&1 | tee res_reln3.txt;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 3 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

      - name: Get stats
        run: |
          echo "Strln with 2 variables results:";
          unsat_c=$(grep unsat res_ln2.txt | wc -l); 
          sat_c=$(grep sat res_ln2.txt | wc -l); 
          echo "sat     : $((sat_c - unsat_c))"; 
          echo "unsat   : $unsat_c";
          echo "timeout : $(pcregrep timeout res_ln2.txt | wc -l)";
          echo "total   : $(pcregrep smt2 res_ln2.txt | wc -l)";
          echo "|---------------------------------------|";
          echo "StrREln with 2 variables (w02-03-04) results:";
          unsat_c2=$(grep unsat res_reln2.txt | wc -l); 
          sat_c2=$(grep sat res_reln2.txt | wc -l); 
          echo "sat     : $((sat_c2 - unsat_c2))"; 
          echo "unsat   : $unsat_c2";
          echo "timeout : $(pcregrep timeout res_reln2.txt | wc -l)";
          echo "total   : $(pcregrep smt2 res_reln2.txt | wc -l)";
          echo "|---------------------------------------|";
          echo "StrREln with 3 variables (w02) results:";
          unsat_c3=$(grep unsat res_reln3.txt | wc -l); 
          sat_c3=$(grep sat res_reln3.txt | wc -l); 
          echo "sat     : $((sat_c3 - unsat_c3))"; 
          echo "unsat   : $unsat_c3";
          echo "timeout : $(pcregrep timeout res_reln3.txt | wc -l)";
          echo "total   : $(pcregrep smt2 res_reln3.txt | wc -l)";
          echo "|---------------------------------------|";

