name: Perf StrREln

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flags: ["-q", "-q -lsb"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3
          dune-cache: true

      - name: Install Smtml depedencies
        working-directory: ./vendor/smtml
        run: opam install . --deps-only --with-test --with-dev-setup

      - name: Install depedencies
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Run Strln with 2 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-ln/benchmark_v2_"*.smt2; do
            echo $i;
            timeout 60s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 2 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

      - name: Run StrREln with 2 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v2_"*.smt2; do
            echo $i;
            timeout 60s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 2 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

      - name: Run StrREln with 3 variables and measure time
        run: |
          set +e +o pipefail;
          START_TIME=$(date +%s)
          for i in "./benchmarks/chrobelias/QF_SLIA/2025-generated-strreln/str-reln/benchmark_v3_w02"*.smt2; do
            echo $i;
            timeout 60s time _build/default/bin/chro.exe ${{ matrix.flags }} $i;
            if [[ $exit_status -eq 124 ]]; then
              echo "timeout";
            fi;
          done 2>&1 | tee res.txt;
          END_TIME=$(date +%s)
          DURATION=$(($END_TIME - $START_TIME))
          echo "Benchmarks with 3 variables completed in: $DURATION seconds with ${{ matrix.flags }}"

